body{background-color:goldenrod;}

img {padding: 18px;
    border: 1px solid black;
    margin: 50px;
}



a:link {text-decoration: none; color: black;}
a:hover{text-decoration: underline; color: black;}
