body{background-color:#EDDB9A;}

img {padding: 18px;
    border: 1px solid black;
    margin: 50px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

.schedColor {
    color: green;
}

a:link {text-decoration: none; color: black;}
a:hover{text-decoration: underline; color: black;}

ol {
    list-style-position: inside;
    display: inline-block;
    border: 1px solid #000;
    padding: 20px;
    background-color: darkseagreen;
}